<div class="btn btn-default <%= splitJoin(className) %>"
        <%= attr("id", id) %>
        <%= attr("name", name) %>
        <%= attr("value", value) %>
        >
    <%= text || def.btnText %>
</div>