<%
list = list || [];
conf = conf || {};
var l = list.length;
%>
<ul class="list-group <%= splitJoin(conf.ulClass) %>">
    <% for(var i = 0;i < l;i++){
        var item = list[i];
    %>
    <li class="list-group-item <%= splitJoin(item.className || conf.liClass) %>"
            <%= attr("index", i) %>
            <%= attr("id", item.id) %>
            ><%= item.text %></li>
    <% } %>
</ul>